/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2023
 *
 * *************************************************************************
 */
@import "assets/styles/constants/index";

.ss-project-tasks-assign-capture {
    position: relative;

    form {
        padding: $base-dimension--x2;
    }

    &__hint {
        display: block;
        margin-bottom: $base-dimension--x2;
    }
}

.participant {
    width: $base-dimension--x3;
    height: $base-dimension--x3;
    border-radius: 100%;
    border: solid 1px #dfdfe0;
    background-size: cover;
    background-position: center center;
}
