/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2021
 *
 * *************************************************************************
 */

@import "assets/styles/constants/index";
@import "assets/styles/typography/index";

.ss-task-constraints-label {

    &__button {
        font-size: $font-size-sm;
        line-height: 1.5;
    }

    &__title {
        @include subtitle-1();
        margin-bottom: $base-dimension;
    }

    &__constraints {
        @include body-2();
        margin-bottom: 0;
        word-break: break-word;
    }

    &__content {
        display: flex;
    }

    &__constraints + &__button {
        margin-top: $base-dimension--x05;
    }

    &__icon {
        margin-right: $base-dimension--x3;
        fill: $dark_grey_75;
    }

    &--has-constraints &__icon {
        fill: $red;
    }
}
