<!--
  ~ **************************************************************************
  ~
  ~ Copyright: Robert Bosch Power Tools GmbH, 2023
  ~
  ~ **************************************************************************
  -->

<ss-dropdown-multiple-select [buttonStyle]="buttonStyle"
    [itemsAlignment]="itemsAlignment"
    [size]="size"
    [icon]="icon"
    [label]="label"
    [hasSelectAllOption]='hasSelectAllOption'
    [selectAllTextKey]='selectAllTextKey'
    [showBadge]="showBadge"
    [options]="options">
</ss-dropdown-multiple-select>
