/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2021
 *
 * *************************************************************************
 */

@import "assets/styles/constants/index";

.ss-project-workareas-create {
    position: relative;
    background-color: $light_grey_25;
    margin-bottom: $base-dimension--x2;
}
