/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */
@import "assets/styles/constants/index";
@import "assets/styles/typography/index";
@import "assets/styles/mixins";

$tasks_stacked_preview_card_width: 176px;
$tasks_stacked_preview_card_count_dimension: 20px;

@mixin card-content-text-ellipsis {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

ul, h3 {
    margin: 0;
}

.ss-tasks-stacked-preview {

    @include body-2();
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: ($z-index_10000)-1;

    &__card {
        display: flex;
        width: $tasks_stacked_preview_card_width;
        border: 2px solid;
        background: $white;

        &--dimmed-out {
            background: $light_grey_50;
        }

        &--top {
            @include shadow-1;
            position: absolute;
            top: 0;
            left: 0;
        }

        &--background {
            height: $base-dimension--x6;
            transform: rotate(-5deg);
        }

        &__count {
            @include subtitle-1($white);
            width: $tasks_stacked_preview_card_count_dimension;
            height: $tasks_stacked_preview_card_count_dimension;
            margin: $base-dimension--x05;
            padding: $base-dimension--x025;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
        }

        &__content {
            flex: 1 1 auto;
            padding: $base-dimension--x025;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        &__title {
            @include subtitle-1();
            @include card-content-text-ellipsis;
            line-height: $base-dimension--x3;
        }

        &__description {
            @include caption-2($dark_grey);
            @include card-content-text-ellipsis;
            line-height: $base-dimension--x2;
        }

    }
}
