<!--
  ~ **************************************************************************
  ~
  ~ Copyright: Robert Bosch Power Tools GmbH, 2020
  ~
  ~ **************************************************************************
  -->

<div class="ss-project-participants-sort-capture">
    <ss-sorting [sorterDataSelectorFunction]="sorterDateSelectorFunction"
                [setSortAction]="setSortAction"
                [sortMethods]="sortMethods"
                (onClose)="handleCancel()">
    </ss-sorting>
</div>
