<!--
  ~ **************************************************************************
  ~
  ~ Copyright: Robert Bosch Power Tools GmbH, 2023
  ~
  ~ **************************************************************************
  -->

<div class="ss-marker-test">
    <div>
        Parent Component
    </div>
    <ss-marker
            class="ss-marker-test__top-right"
            [isVisible]="isVisible"
            [isCritical]="isCritical"
            [size]="size"
            [triggerAnimation]="triggerAnimation"
            [withBorder]="withBorder"
    >
    </ss-marker>
</div>
