
<!--
  ~ **************************************************************************
  ~
  ~ Copyright: Robert Bosch Power Tools GmbH, 2020
  ~
  ~ **************************************************************************
  -->
<div class="ss-employee-create">
	<h2 class="ss-employee-create__title" *ngIf="!dataConfig.isCompanyAssignment">{{'EmployeeCaptureComponent_TitleCreate' | translate}}</h2>
	<h2 class="ss-employee-create__title" *ngIf="dataConfig.isCompanyAssignment">{{'UserListComponent_AssignCompany_Label' | translate}}</h2>
	<ss-employee-capture
			[mode]="mode"
			[defaultValues]="dataConfig.defaultValues"
			(create)="handleCreate($event)"
			(cancel)="handleCancel()"
			[isCompanyAssignment]="dataConfig.isCompanyAssignment">
	</ss-employee-capture>
</div>
