/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */

/* You can add global styles to this file, and also import other style files */
@import 'src/assets/styles/vendor/index.scss';
@import 'src/assets/styles/typography/fonts';
@import 'src/assets/layout/css/_index.scss';

html, body {
  height: 100%;
}

body {
  background: $light_grey_20;
  margin: 0;
  font-family: Bosch, "Helvetica Neue", sans-serif;

  a {
    text-decoration: none;
  }
}
