/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2021
 *
 * *************************************************************************
 */

@import "../../../../assets/styles/constants/index";
@import "../../../../assets/styles/typography/index";

th {
    height: $base-dimension--x13;
    vertical-align: initial;
    padding-top: $base-dimension--x2 !important;
}

.ss-project-list {
    margin: $base-dimension--x2;
    padding: $base-dimension--x4 $base-dimension--x2 0 $base-dimension--x2;
    background-color: $white;

    &__title {
        @include title-bold();
        margin: 0 0 $base-dimension--x2;
    }

    &__filters {
        width: 100%;
    }

    .mat-mdc-cell {
        cursor: pointer;
        padding: $base-dimension--x2;
        max-width: 33%;
    }

    .mat-mdc-header-cell {
        vertical-align: initial;
        padding: $base-dimension--x2 $base-dimension--x2 0;
        max-width: 33%;
    }

    .mat-column-creator, .mat-column-company, .mat-column-createdDate {
        border-left: 1px solid $light_grey_30;
        padding-left: $base-dimension--x2;
    }

    .mat-column-title {
        width: 30%;
    }

    .mat-column-creator {
        width: 30%;
    }

    .mat-column-company {
        width: 25%;
    }

    .mat-column-createdDate {
        width: 15%;
    }
}
