<!--
  ~ **************************************************************************
  ~
  ~ Copyright: Robert Bosch Power Tools GmbH, 2020
  ~
  ~ **************************************************************************
  -->

<ss-toolbar [title]="toolbarTitle">
    <ng-container mappings>
        <span [attr.data-automation]="'toolbar-mappings-template'">Mappings</span>
    </ng-container>
    <ng-container actions>
        <span [attr.data-automation]="'toolbar-actions-template'">Actions</span>
    </ng-container>
</ss-toolbar>
