<!--
  ~ **************************************************************************
  ~
  ~ Copyright: Robert Bosch Power Tools GmbH, 2021
  ~
  ~ **************************************************************************
  -->

<div class="ss-project-rfv-info-header">
    <button
        class="ss-project-rfv-info-header__tooltip-button ss-button ss-button--small ss-button--secondary-clear-blue ss-button--no-padding"
        ssFlyout
        [flyoutAlignment]="'start'"
        [flyoutTemplate]="ssProjectRfvInfoHeaderTooltipContent"
        [attr.data-automation]="'project-rfv-info-header-tooltip-button'">
        <ss-icon [name]="'info-marker'"
                 [color]="iconColor">
        </ss-icon>
    </button>
    <span class="ss-project-rfv-info-header__counter"
          [attr.data-automation]="'project-rfv-info-header-counter'">
        {{'Generic_Active' | translate}}: {{activeItems}}/{{totalItems}}
    </span>
</div>

<ng-template #ssProjectRfvInfoHeaderTooltipContent>
    <ss-flyout-tooltip
        class="ss-project-rfv-info-header__tooltip-content"
        [attr.data-automation]="'project-rfv-info-header-tooltip-content'">
        <span>{{ 'ProjectSettings_RfvInfoHeader_TooltipDescription' | translate}}</span>
    </ss-flyout-tooltip>
</ng-template>
