/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */

$grid-breakpoints: (
        xs: 0, // Extra small screen / phone
        sm: 576px, // Small screen / phone
        md: 768px, // Medium screen / tablet
        lg: 992px, // Large screen / desktop
        xl: 1200px // Extra large screen / wide desktop
);
