/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */

$font-size-base: 1rem;
$font-size-xxxl: 2.25rem;
$font-size-xxl: 2.125rem;
$font-size-xl: 1.5rem;
$font-size-lg: 1.25rem;
$font-size-md: 1.125rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;
$font-size-xxs: .625rem;

$font-weight-base: normal;
$font-weight-bolder: 400;
$font-weight-bold: bold;
$font-weight-light: 200;
