/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */

$z-max: 9999999999;
$z-index_1: 1;
$z-index_2: 2;
$z-index_3: 3;
$z-index_4: 4;
$z-index_5: 5;
$z-index_6: 6;
$z-index_10: 10;
$z-index_100: 100;
$z-index_1000: 1000;
$z-index_10000: 10000;
