/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */

@import "assets/styles/constants/index";

.ss-icon {
    display: block;
    user-select: none;
    overflow: visible;

    &__badge {
        stroke-width: $base-dimension--x025;
        vector-effect: non-scaling-stroke;
    }
}
