/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2021
 *
 * *************************************************************************
 */

.ss-milestone-type-options {
    min-width: 200px;
    max-width: 250px;
    max-height: 290px;
}
