/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2022
 *
 * *************************************************************************
 */

@import "assets/styles/constants/index";

.ss-project-import-upload-step {
    &__status-transition {
        display: block;
        height: 100%;
        background: rgba(255, 255, 255, .7);
        border: 1px dashed $light_grey;
    }
}
