/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */

@import "assets/styles/constants/index";
@import "assets/styles/vendor/bootstrap/index";

.ss-announcement-list {
    min-height: $supergraphic-height;

    @include media-breakpoint-up(sm) {
        margin-left: $base-dimension--x6;
    }

    ::ng-deep .ss-callout {
        margin-top: $supergraphic-height;
    }
}
