/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2021
 *
 * *************************************************************************
 */

@import "assets/styles/constants/index";
@import "assets/styles/typography/index";

.ss-milestone-location-label {
    @include body-2();
    display: flex;

    &__location {
        align-items: center;
        display: inline-flex;
    }

    &__icon {
        fill: $dark_grey_75;
        margin-right: $base-dimension--x3;
    }
}
