/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */
@import "assets/styles/constants/index";

.ss-traffic-light-with-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ::ng-deep .ss-traffic-light {
        margin-bottom: $base-dimension--x05;
    }
}
