/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */
@import "assets/styles/constants/index";

.ss-project-ppc-all-graph {
    width: 100%;
    height: 350px;
    display: block;

    ::ng-deep {

        .ngx-charts {
            .tooltip-anchor {
                display: none;
            }

            .refline-path {
                stroke: $light_blue;
                stroke-dasharray: 0;
                stroke-dashoffset: 0;
            }
        }

        g[ngx-charts-y-axis-ticks] > g > g:nth-child(7) text {
            fill: $light_blue;
        }

        g[ngx-charts-x-axis-ticks] line.gridline-path-vertical {
            stroke: white;
        }
    }
}
