<!--
  ~ **************************************************************************
  ~
  ~ Copyright: Robert Bosch Power Tools GmbH, 2024
  ~
  ~ **************************************************************************
  -->

<div class="ss-brand">
    <a aria-label="Home" [routerLink]="homeUrl" [attr.data-automation]="'bosch-brand-logo-link'">
        <img src="/assets/images/logo/rms_logo.svg"
             alt="RefinemySite Logo"
             [attr.data-automation]="'rms-brand-logo'">
    </a>
</div>
