/*!
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2021
 *
 * *************************************************************************
 */

@import "assets/styles/constants/index";

.ss-brand {
    display: flex;
    align-items: center;
    cursor: pointer;

    > img {
        height: auto;
    }
}
