<!--
  ~ **************************************************************************
  ~
  ~ Copyright: Robert Bosch Power Tools GmbH, 2020
  ~
  ~ **************************************************************************
  -->

<div class="ss-project-crafts-edit">
    <ss-loader [isLoading]="isSubmitting"></ss-loader>
    <ss-project-crafts-capture
        #projectCraftsCapture
        [mode]="captureMode"
        [defaultValues]="defaultValues"
        [crafts]="crafts"
        (onCancel)="handleCancel()"
        (onSubmit)="handleSubmit($event)">
    </ss-project-crafts-capture>
</div>
