/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */

$red: #e11f26;
$magenta: #b81e78;
$violet: #4e2b8a;
$dark_blue: #00639a;
$light_blue: #009bd9;
$turquoise: #00b6be;
$light_green: #70bf54;
$dark_green: #00705c;
$dark_grey: #525f6b;
$dark_grey_75: #7d8790;
$dark_grey_50: #a8afb5;
$dark_grey_25: #d4d7da;
$light_grey_500: #46484b; /* darkest grey we have */
$light_grey_125: #b3b4b6;
$light_grey: #bfc0c2;
$light_grey_75: #cfd0d1;
$light_grey_50: #dfdfe0;
$light_grey_25: #efeff0;
$light_grey_12_5: #f7f7f7;
$black: #333333;
$yellow_callout: #fcaf17;
$white: #ffffff;

$primaryColor: #3F51B5;
$primaryDarkColor: #283593;
$primaryLightColor: #9fa8da;
$accentColor: $red;
$accentDarkColor: #ad1457;
$accentLightColor: #f48fb1;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

$darkMenuRouterLinkActiveColor: #9fa8da;
$lightMenuRouterLinkActiveColor: #3F51B5;
$horizontalLightMenuRouterLinkActiveColor: #9fa8da;
