/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2023
 *
 * *************************************************************************
 */
@import "assets/styles/constants/index";
@import "assets/styles/vendor/bootstrap/index";

$app-min-width: 380px;
$modal-header-height: 52px;
$modal-footer-height: 81px;
$modal-width-xl: 1200px;
$modal-width-lg: 970px;
$modal-width-md: 720px;
$modal-width-sm: 480px;
$modal-width-dialog: 344px;

@mixin modal-content-in-larger-screens {
    height: auto;
    min-height: inherit;
    max-height: 100%;

    header,
    footer {
        position: static;
        width: auto;
    }

    .ss-modal__main {
        margin: 0;
    }
}

.ss-modal {
    position: absolute;
    width: calc(100% - #{$base-dimension--x6});
    height: inherit;
    top: 0;

    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $backdrop-color;
        z-index: $z-index_10000;
    }

    &__body-wrapper {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        position: relative;
        min-width: 100%;
        min-height: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $light_grey_25;

        header,
        .ss-modal__main,
        footer {
            padding: $base-dimension--x2;
            width: 100%;
            background: $light_grey_25;
        }

        header {
            position: fixed;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $light_grey_50;
            color: $dark_grey;
            fill: $dark_grey_75;

            h6 {
                margin-bottom: 0;
                font-size: $font-size-lg;
            }

            button {
                margin: -$base-dimension--x2;
            }
        }

        .ss-modal__main {
            width: 100%;
            height: inherit;
            max-height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            margin: $modal-header-height 0 $modal-footer-height 0;
            padding: 0;
        }

        footer {
            position: fixed;
            bottom: 0;
            display: flex;
            border-top: 1px solid $light_grey_50;

            ::ng-deep button {
                width: 100%;
            }

            ::ng-deep button + button {
                margin-left: $base-dimension--x2;
            }
        }

    }

    &--large {
        @include media-breakpoint-up(xl) {
            .ss-modal__content {
                min-width: $modal-width-xl;
                max-width: $modal-width-xl;
                @include modal-content-in-larger-screens();
            }

            .ss-modal__wrapper {
                padding: $base-dimension 0;
            }
        }

        @include media-breakpoint-up(lg) {
            .ss-modal__content {
                min-width: $modal-width-lg;
                max-width: $modal-width-lg;
                @include modal-content-in-larger-screens();
            }

            .ss-modal__wrapper {
                padding: $base-dimension 0;
            }
        }
    }

    &--medium {
        .ss-modal {
            @include media-breakpoint-up(md) {
                &__content {
                    min-width: $modal-width-md;
                    max-width: $modal-width-md;
                    @include modal-content-in-larger-screens();
                }

                &__wrapper {
                    padding: $base-dimension 0;
                }
            }

            &__body-wrapper {
                display: block;
            }
        }
    }

    &--small {
        @include media-breakpoint-up(sm) {
            .ss-modal__content {
                min-width: $modal-width-sm;
                max-width: $modal-width-sm;
                @include modal-content-in-larger-screens();
            }

            .ss-modal__wrapper {
                padding: $base-dimension 0;
            }
        }
    }

    &--dialog {
        .ss-modal {
            &__content {
                min-width: $modal-width-dialog;
                max-width: $modal-width-dialog;
                @include modal-content-in-larger-screens();
            }

            &__body-wrapper {
                display: block;
            }

            &__wrapper {
                padding: $base-dimension 0;
            }
        }
    }

    &--without-header {
        .ss-modal__main {
            margin-top: 0;
        }
    }

    &--without-footer {
        .ss-modal__main {
            margin-bottom: 0;
        }
    }
}
