<!--
  ~ **************************************************************************
  ~
  ~ Copyright: Robert Bosch Power Tools GmbH, 2023
  ~
  ~ **************************************************************************
  -->

<ss-news-article [articleId]="articleId"
    [articleDate]="articleDate"
    [articleTitle]="articleTitle">

    <ss-text-image-article [textContent]="newsArticleTextContent">
    </ss-text-image-article>

    <img src="https://www.bosch.pt/media/locations/img_8926_tratada_copy_res_1280x720.webp"
        alt="Bosch Lisbon" />
</ss-news-article>
