/*!
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2024
 *
 * *************************************************************************
 */
@import "assets/styles/constants/index";
@import "assets/styles/mixins";
@import "assets/styles/vendor/bootstrap/index";

$icon-size-larger-screens: 18px;

.ss-day-card {
    $this: &;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: $white;
    padding: $base-dimension--x05;
    opacity: 0.5;
    transition: background-color ease-in-out 150ms;
    cursor: pointer;
    flex-direction: column;

    &:not(&--selected):hover {
        background-color: $light_grey_12_5;
    }

    &--relevant#{$this}--can-multi-select {
        opacity: 1;
    }

    &--movable:hover,
    &--copying:hover {
        box-shadow: inset 0 -4px 0 $light_grey_50;
    }

    &--movable {
        cursor: grab;
    }

    &--copying:not(&--has-selected-items) {
        cursor: copy;
    }

    &--multi-selecting, &--has-selected-items {
        cursor: pointer;
    }

    &--multi-selecting:not(&--relevant),
    &--multi-selecting:not(&--can-multi-select) {
        cursor: not-allowed;
    }

    &--selected {
        background-color: $light_blue_05;
    }

    header {
        h3 {
            font-family: RmS-Bold, sans-serif;
            font-size: 11px;
            color: $black;
            line-height: 12px;
            margin-bottom: $base-dimension--x05;
            max-height: 36px;
            overflow: hidden;
            word-break: break-word;
            overflow-wrap: break-word;
            max-width: 100%;
        }
    }

    footer {
        display: flex;
        align-items: flex-end;
        width: 100%;
        justify-content: space-between;
    }

    &__manpower {
        display: flex;
        align-items: center;
        color: $dark_grey_75;
        font-size: $font-size-xs;
        justify-content: flex-end;

        ss-icon {
            fill: $dark_grey_75;
        }

        ::ng-deep.ss-icon {
            margin-left: -2px;
        }
    }

    &__status {
        ::ng-deep.ss-icon {
            margin-right: -2px;
        }
    }

    ::ng-deep.ss-icon {
        width: $icon-size-larger-screens;
        height: $icon-size-larger-screens;
    }
}

::ng-deep ss-day-card {
    width: 100%;
}
