/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */
@import "assets/styles/constants/index";

.ss-project-tasks-send-capture {
    padding: $base-dimension--x2;

    span {
        display: flex;
        margin-bottom: $base-dimension--x2;
        font-size: $font-size-base;
    }
}
