/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2022
 *
 * *************************************************************************
 */

@import "../../../../../assets/styles/constants/index";

.ss-project-detail-general {
    margin: $base-dimension--x2;
    padding-bottom: $base-dimension--x2;
    display: block;

    p {
        margin: 0 0 $base-dimension--x05 0;
    }
}
