<!--
  ~ **************************************************************************
  ~
  ~ Copyright: Robert Bosch Power Tools GmbH, 2021
  ~
  ~ **************************************************************************
  -->

<ss-task-card-indicators
    [constraints]="constraints"
    [isDimmed]="isDimmed"
    [isFocused]="isFocused"
    [isSelected]="isSelected"
    [predecessorRelations]="predecessorRelations"
    [successorRelations]="successorRelations"
    [statistics]="statistics">
</ss-task-card-indicators>
