/*!
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2024
 *
 * *************************************************************************
 */

.ss-label-group {
    font-size: $font-size-sm;
    font-family: RmS-Medium, sans-serif;
}

.ss-info-label {
    color: $form-info;
    font-size: $font-size-sm;
}
