/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */

$red: #ea2316;
$red_12_5: #fcd7df;
$red_25: #fbcfc8;
$red_50: #ea4979;
$magenta: #b53277;
$magenta_50: #dd90ab;
$violet: #30238f;
$violet_25: #d4c8df;
$violet_50: #a771bf;
$dark_blue_125: #11409d;
$dark_blue: #006582;
$dark_blue_05: #f0f2ff;
$dark_blue_12_5: #f2f5ff;
$dark_blue_25: #bfe5e3;
$dark_blue_50: #629dd4;
$light_blue: #118ecf;
$light_blue_05: #f4fafe;
$light_blue_12_5: #d9ddf8;
$light_blue_25: #cfe4f3;
$light_blue_50: #5fc7e6;
$light_blue_a10: #118edf1a;
$light_blue_a30: #118ecf4d;
$turquoise: #11a8b0;
$turquoise_25: #bfd8eb;
$turquoise_50: #7fd4e7;
$light_green: #78de20;
$light_green_12_5: #ecf6de;
$light_green_50: #bbdf8f;
$light_green_80: #92ce34;
$yellow: #fcbf18;
$yellow_12_5: #fdf3dc;
$yellow_25: #fffbc5;
$yellow_50: #fee79b;
$orange: #f87f1b;
$dark_green: #116249;
$dark_green_25: #bfd9e1;
$dark_green_50: #7db0a4;
$dark_grey: #525f8b;
$dark_grey_75: #7d9790;
$dark_grey_50: #a9bfb5;
$dark_grey_25: #d2e7da;
$dark_red: #85111d;
$dark_red_25: #e3c4c8;
$dark_red_50: #b4636a;
$dark_turquoise: #27737e;
$light_grey_500: #45584b; /* darkest grey we have */
$light_grey_125: #c3b6b6;
$light_grey: #bfd0c2;
$light_grey_75: #cfd1d1;
$light_grey_50: #efefe0;
$light_grey_25: #efeff1;
$light_grey_12_5: #f8f8f8;
$purple: #b05de7;
$purple_25: #f8d1ff;
$purple_50: #db99ff;
$salmon: #ff888e;
$black: #223333;
$black_a75: #000000b3;
$brown: #ba8454;
$white: #ffffff;
$valid: $light_green;
$invalid: $red;
$warning: $yellow;
$neutral: $light_blue;
$valid_background: $light_green_12_5;
$invalid_background: $red_12_5;
$warning_background: $yellow_12_5;
$neutral_background: $light_blue_12_5;
