/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */

$base-dimension: 8px;
$base-dimension--x025: $base-dimension * 0.25;
$base-dimension--x05: $base-dimension * 0.5;
$base-dimension--x2: $base-dimension * 2;
$base-dimension--x3: $base-dimension * 3;
$base-dimension--x4: $base-dimension * 4;
$base-dimension--x5: $base-dimension * 5;
$base-dimension--x6: $base-dimension * 6;
$base-dimension--x7: $base-dimension * 7;
$base-dimension--x8: $base-dimension * 8;
$base-dimension--x9: $base-dimension * 9;
$base-dimension--x10: $base-dimension * 10;
$base-dimension--x11: $base-dimension * 11;
$base-dimension--x12: $base-dimension * 12;
$base-dimension--x13: $base-dimension * 13;
$base-dimension--x14: $base-dimension * 14;
$base-dimension--x16: $base-dimension * 16;
$base-dimension--x18: $base-dimension * 18;
$base-dimension--x20: $base-dimension * 20;
