/*
 * *************************************************************************
 *
 * Copyright: Robert Bosch Power Tools GmbH, 2020
 *
 * *************************************************************************
 */

$form-valid: $valid;
$form-invalid: $invalid;
$form-warning: $warning;

$form-character: $dark_grey;
$form-focus: $light_grey_50;
$form-label: #BFC0C2;

$form-info: darken($form-label, 10%);

$form-input-height: $base-dimension--x6;
$form-input-label-check-spacing: 12px;
